/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

/*Paddings*/
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padded-bottom {
   padding-bottom: 1em;
}

/*Backgrounds*/
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

/*Links*/
a {
  color: $annual-color;
  font-weight: bold;
}
a:hover, a:visited, a:visited:hover, a:active, a:link {
  text-decoration: none;
}
a:hover {
  color: $annual-color-hover;
}

/*Buttons*/
.btn-success {
  background-color: $annual-color;
}
.btn-success:hover, .btn-success:visited, 
.btn-success:visited:hover, .btn-success:active,
.btn-success:focus {
  background-color: $annual-color-hover;
}
.btn-participe {
  margin-top: 20px;
  font-weight: bold;
  border: none;
}
.thin-btn {
  font-size: 14px;
  font-weight: normal;
  margin-top: 6px;
  padding: 0px 10px;
  border: none;
}
.btn-lg {
  border-color: none;
}
.btn-primary {
  font-weight: bold;
  color: #fff;
  background-color: $annual-color;
  border: none;
}
 a.btn-participe:visited {
  color: #fff;
}
.small-margin {
  max-width: 500px;
  margin: auto;
}
.red-text {
  color: #E70000;
}

/*Text*/
.text-left {
  text-align: left;
}
.text-annual-color {
  color: $annual-color;
}
.indented {
  margin: 2em 0;
  p {
    text-indent: 1em;
    margin: 0;
  }
}
h3 {
  font-size: 24px;
}

/*Bordered*/
.bordered-green {
  border: solid $annual-color 4px;
}




