/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padded-bottom {
   padding-bottom: 1em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Links
a {
  color: #15C09A;
  font-weight: bold;
}
a:hover, a:visited {
  color: #0c725b;
  text-decoration: none;
}

// Buttons
.btn-participe {
  margin-top: 20px;
 font-weight: bold;
 border: none;
}

.btn-lg {
  border-color: none;
}

.btn-primary {
  font-weight: bold;
  color: #fff;
  background-color: #15C09A;
  border: none;
}
 a.btn-participe:visited {
  color: #fff;
}

.small-margin {
  max-width: 500px;
  margin: auto;
}

.red-text {
  color: #E70000;
}


