// css for edition 2016 page //
.cuvee2016 {
  .banner {
    overflow: hidden;
    color: white;
    text-align: center;
    max-height: 60vh;
    background-color: #99342C;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  .palmares-container {
    width: 100%;
  }
  .palmares {
    display: flex;
    flex-wrap: wrap;
    h1 {
      flex: 1 100%;
    }
    img {
      width: 100%;
    }
  }
  .palmares > div {
    img {
      max-width: 24em;
    }
  }

    @media (min-width: 425px) {
    .palmares > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}


