// css for edition 2017 page //
.cuvee2017 {
  .banner {
    overflow: hidden;
    color: white;
    text-align: center;
    max-height: 60vh;
    background-color: $annual-color-arabe;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  .palmares-container {
    width: 100%;
    max-width: 1042px;
  }
  .palmares {
    display: flex;
    flex-wrap: wrap;
  }
  .palmares-text {
    display: flex;
    flex-wrap: wrap;
  }
  .palmares-audace {
    flex: 100%;
    flex-direction: column;
  }
}