// css for edition 2015 page //
.edition2015 {
  .banner {
    overflow: hidden;
    color: white;
    text-align: center;
    // height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 100%;
    }
  }

  .palmares {
    display: flex;
    flex-wrap: wrap;
    h1 {
      flex: 1 100%;
    }
    img {
      width: 100%;
    }
  }
  .palmares > div {
    flex: 1;
    margin: 0px 20px;
    text-align: left;
  }

  .anonyme-excuse {
    text-align: left;
  }
}

.container-edition {
  max-width: 790px;
  margin: auto;
  h3 {
  color: $red;
  }
}

.container-grey {
  background-color: $grey-lighter;
}
