.index {
  .banner {
    overflow: hidden;
    color: white;
    text-align: center;
    /*height: 82vh;*/
    /*background-color: #D42B2E;*/
    max-height: calc(100vh - 100px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      width: 100%;
      /*margin-top: -150px;*/
    }
  }
  .banner h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  h3 {
    font-size: 24px;
    line-height: 1.4;
  }
  .banner p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
  .container-general {
    max-width: 790px;
    margin: auto;
    padding: 2em;
    .title {
      font-size: 18px;
    }
    .programm-list {
      text-align: left;
      padding-left: 4em;
    }
  }

  .circle-link {
    background-color: $annual-color;
    /*border: 1px solid white;*/
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding-top: 8px;
    margin: auto;
    margin-top: -26px;
    position: relative;
    p {
      font-size: 12px;
      color: $annual-color;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 18px;
      margin-left: 1px;
      font-weight: 600;
    }
  }
  .circle-link:hover {
    background-color: $annual-color-hover;
  }
  .arrow-to-top {
    border-left: 2px solid white;
    border-top: 2px solid white;
    transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    height: 16px;
    width: 16px;
    position: absolute;
    margin-left: -8px;
    margin-top: 4px;
  }
}

.arabic-text {
  margin: auto;
  /*width: 70%;*/
  font-size: 20px;
  &-title {
    font-size: 24px;
  }
  &-credit {
    font-size: 12px;
  }
}

.btn-text {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.container-grey {
  background-color: $grey-lighter;
}
.container-edition {
  max-width: 790px;
  margin: auto;
  h3 {
    color: $red;
  }
}


