.index {
	h3 {
		font-size: 24px;
		line-height: 1.4;
		margin: 1em 0;
	}
	.banner {
		overflow: hidden;
		color: white;
		text-align: center;
		max-height: calc(100vh - 100px);
		display: flex;
		align-items: flex-start;
		justify-content: center;
		img {
			width: 100%;
			margin: -200px;
		}
		.credit {
			position: fixed;
		    right: 0.2em;
		    font-size: 10px;
		}
	}
	.container-general {
		max-width: 790px;
		margin: auto;
		padding: 0.5em 2em;
	}
	.container i {
		color: $annual-color;
	}
	.container i:hover {
		color: $annual-color-hover;
	}
	
	/* flèche bas de banner */
	.circle-link {
		background-color: $annual-color;
		width: 50px;
		height: 50px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		padding-top: 8px;
		margin: auto;
		margin-top: -26px;
		position: relative;
		p {
			font-size: 12px;
			color: $annual-color;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: 18px;
			margin-left: 1px;
			font-weight: 600;
		}
	}
	.circle-link:hover {
		background-color: $annual-color-hover;
	}
	.arrow-to-top {
		border-left: 2px solid white;
		border-top: 2px solid white;
		transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		height: 16px;
		width: 16px;
		position: absolute;
		margin-left: -8px;
		margin-top: 4px;
	}

	.pre-footer {
		padding: 1em 0 0 0;
		p {
			font-size: 12px;
		}
		a {
			margin: auto;
		}
	}
	.gg-map {
		display: flex;
		justify-content: center;
	}
	.btn-newsletter {
		border: none;
	}
	.footer {
		background-color: $grey-lighter;
		margin: 0;
	}
}




