.index {
	.banner {
		overflow: hidden;
		color: white;
		text-align: center;
		max-height: calc(100vh - 100px);
		display: flex;
		align-items: flex-start;
		justify-content: center;
		min-height: 42vw;
    max-height: 42vh;
    position: relative;
		img {
			width: 100%;
			position: absolute;
    	bottom: -84px;
    	left: 0;
		}
		.credit {
			position: absolute;
			right: 0.2em;
			font-size: 10px;
		}
	}
	.container-general {
		max-width: 790px;
		margin: auto;
		padding: 0.5em 2em;
	}
	.container i {
		color: $annual-color;
	}
	.container i:hover {
		color: $annual-color-hover;
	}

	/* flèche bas de banner */
/*	.circle-link {
		background-color: $annual-color;
		width: 50px;
		height: 50px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		padding-top: 8px;
		margin: auto;
		margin-top: -26px;
		position: relative;
		p {
			font-size: 12px;
			color: $annual-color;
			text-decoration: none;
			text-transform: uppercase;
			margin-top: 18px;
			margin-left: 1px;
			font-weight: 600;
		}
	}
	.circle-link:hover {
		background-color: $annual-color-hover;
	}
	.arrow-to-top {
		border-left: 2px solid white;
		border-top: 2px solid white;
		transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		height: 16px;
		width: 16px;
		position: absolute;
		margin-left: -8px;
		margin-top: 4px;
	}
*/
	.pre-footer {
		padding: 1em 0 0 0;
		p {
			font-size: 12px;
		}
		a {
			margin: auto;
		}
		.btn-newsletter {
			border: none;
		}
	}

	.footer {
		background-color: $grey-lighter;
		margin: 0;
	}

	@media (max-width: 425px) {
		.pre-footer p { font-size: 11px; }
		.btn-newsletter { font-size: 14px; }
	}
	@media (max-width: 320px) {
		.pre-footer p { font-size: 10px; }
		.btn-newsletter { font-size: 14px; }
	}

}




