// css for ingenieurliberte page //
.ingenieurliberte {
  .banner {
    overflow: hidden;
    color: white;
    text-align: center;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      height: 100%;
      margin-top: -10px;
    }
    &-legend {
      font-size: 12px;
    }
  }
  .container {
    max-width: 790px;
    margin: auto;
    i {
      color: $annual-color;
    }
    i:hover {
      color: $annual-color-hover;
    }
    .fa {
      font-size: 26px;
    }
  }
  .archive-link {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    margin-bottom: 5em;
    h4 i {
      font-size: 34px;
    }
  }
}

