// css for ingenieurliberte page //
.ingenieurliberte {
  .banner {
    overflow: hidden;
    color: white;
    text-align: center;
    height: 60vh;
    /*background-color: #99342C;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      height: 100%;
    }
    &-legend {
      font-size: 12px;
    }
  }
  .banner-top img {
    margin-top: -10px;
  }
  .container {
    max-width: 790px;
    margin: auto;

    i {
      color: $annual-color;
    }
    i:hover {
      color: $annual-color-hover;
    }
    .fa {
      font-size: 26px;
    }
  }
  .archive-link {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    margin-bottom: 5em;
    h4 {
      /*color: white;*/
      i {
        font-size: 34px;
      }
    }
  }

}

