<div class="banner banner-container window-full-sized paragraph" style="background: linear-gradient(205deg, rgba(168, 0, 132, 0.74) 0%, rgba(0, 24, 61, 0.67) 50%)">
    <div class="container banner" data-sr="enter top">
      <div class="row banner-content text-center">
        <div class="col-sm-12">
          <div class="main-title">
            <h1>Breathe, Connect, Build</h1>
            <h2>We offer a month-long, community-driven <br> co-living & co-working retreat
              for creative women<br> who want to grow</h2>
          </div>
          <div class="date-apply-padding-down">
            <p>APPLY NOW</p>
            <%= link_to "March 16 to April 9", "#apply", class: "banner-content-button" %>
          </div>
        </div>
      </div>
    </div>
</div>

