<div class="footer">
  <div class="container">
    <div class="row">
      <p>Ce concours est organisé par l'UTNTVM et le <%= link_to 'Domaine Lapierre', 'http://www.marcel-lapierre.com' %>, en partenariat avec l'association <%= link_to 'ATLAS', 'http://www.atlas-citl.org' %></p>
      <p>© Ingénieur Liberté 2016. Tous droits réservés.</p>
    </div>
  </div>
</div>
