<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
  <%= image_tag "ingenieur.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="/texte" class="navbar-wagon-item navbar-wagon-link">Texte à traduire</a>

    <!-- Text link -->
    <a href="/edition2015" class="navbar-wagon-item navbar-wagon-link">Édition 2015</a>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to 'Texte à traduire', '/texte' %></li>
          <li><%= link_to 'Édition 2015', '/edition2015' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
