<div class="container-grey pre-footer">
	<div class="container-general">
		<div class="row">
			<div class="text-center">
				<p>Pour recevoir un petit rappel quelques jours avant l'évènement (et juste un seul)</p>
				<%= link_to "Je m'abonne à la newsletter", "http://eepurl.com/bpVXxT", class:"btn btn-success btn-newsletter ", target: "_blank" %>
			</div>
		</div>
  </div>
</div>