---
title: Cuvee 2017
---

<div class="banner">
  <%= image_tag "oum_banner01.jpg", id: "", class: ""%>
</div>

<div class="container">
  <div class="container-edition padded-2">
    <h1 class="text-center padded-bottom"><i class="fa fa-archive"></i><br>Cuvée 2017</h1>
    <p>Remontant une longue rue du Caire cet hiver, l'Ingénieur Liberté, saint patron de notre grand concours, s'est souvenu de la voix d'une femme qui avait marqué sa jeunesse. Cette femme s'appelait Oum. <br> Oum Kalsoum.</p>
    <p>Elle chantait des airs parlant d'amour, de vin et de poésie. Il y en a un en particulier, hédoniste et mystique, vieux de mille ans, qui avait retenu son attention de garnement : c'était l'oeuvre de l'astronome persan Omar Khayyam.</p>
    <p>Pas mal se sont frottés à ces <em>Quatrains</em>, ici et là, jadis et naguère. Ahmed Rami, notamment, en a tiré un poème arabe dont Oum Kalsoum a fait une chanson de légende. Ces strophes ont ainsi parcouru les siècles et les langues, et ne sont pas près de s'arrêter : le 11 juin, l'Ingénieur Liberté offrira d'exquis nectars à ceux qui les auront traduites avec brio, audace ou musicalité.</p>
  </div>
</div>
<div class="container-grey">
  <div class="container">
      <div class="welcome text-center padded-2 traducted-text">
        <h1><i class="fa fa-pencil"></i></h1><h1>Le texte de la cuvée 2017</h1>
        <h3>Roubayat el Khayyam</h3>
        <p>Ahmed Rami</p>
        <br>
        <div class="text-center arabic-text">
          <p class="arabic-text-title">رباعيات الخيام</p>
          <p>
            <br>
            سمعتُ صوتا هاتفا في السحر<br>
            نادى من الغيب غُفاةَ البشر<br>
            هُبّوا املأوا كأس المنى قبل أن<br>
            تملأ كأسَ العمر كفُّ القدر<br>
            <br>
            لا تشغل البال بماضي الزمان<br>
            ولا بآتي العيش قبل الأوان<br>
            واغنمْ من الحاضر لذاتِه<br>
            فليس في طبع الليالي الأمان<br>
            <br>
            غدٌ بظَهْر الغيب واليوم لي<br>
            وكم يخيب الظن في المقبِلِ<br>
            ولستُ بالغافل حتى أرى<br>
            جمال دنياي ولا أجتلى<br>
            <br>
            القلبُ قد أضناه عشقُ الجمال<br>
            والصدر قد ضاق بما لا يقال<br>
            ياربّ هل يُرضيك هذا الظما<br>
            والماء ينساب أمامي زُلال<br>
            <br>
            أَوْلى بهذا القلب أن يخفق<br>
            وفي ضِرام الحب أن يُحرَق<br>
            ما أضيَع اليوم الذى مرّ بي<br>
            من غير أن أهوى وأن أعشق<br>
            <br>
          </p>
        </div>
        <p>
          <br><i>Traduit du persan par Ahmed Mohammed Rami et chanté par Oum Kalsoum</i>
        </p>
      </div>
  </div>
</div>

<div class="container palmares-container">
  <h1 class="padded-bottom text-center padded-2"><i class="fa fa-trophy"></i><br>Palmarès 2017<br></h1>
  <div class="palmares">
    <div class="palmares-text">

      <div class="grand-prix">
        <h3>Grand Prix</h3>

        <h4>Les quatrains d’Omar Al-Khayam</h4>

        <p>Une voix profonde me désigna pour cible,
          <br>Et livra ce message depuis l’invisible :
          <br>Oh, humains, savourez de la vie ses plaisirs
          <br>Avant que le Destin fatal ne les retire !
        </p>

        <p>Cesse de remuer tes vieilles blessures,
          <br>Ne te risque jamais à prévoir ton futur,
          <br>Profite simplement des minutes présentes,
          <br>La Nuit n’est pas une conseillère rassurante.
        </p>

        <p>Demain n’existe pas, le présent est mien,
          <br>Je risque tant d’être déçue des jours prochains,
          <br>Je suis suffisamment sensée pour admirer,
          <br>Les beautés de la vie et me laisser tenter.
        </p>

        <p>Mon cœur se fatigue par le culte du Beau,
          <br>Ma poitrine est en peine à la quête de mots,
          <br>Oh, Seigneur, ris-tu de cette soif qui m’assèche
          <br>Alors que l’eau coulant devant moi semble fraîche ?
        </p>

        <p>Mon minuscule cœur doit battre pour toujours
          <br>Dans la splendeur des flammes engendrées par l’Amour,
          <br>Chaque jour qui défile est un mal infini
          <br>Si je ne m’entiche d’un homme à la folie.
        </p>

        <p><i>Traduction de Amira Bentahar</i></p>
        <p style="color:white;">Du texte pour aligner les 3 textes ensembles, mais invisible invisible
        </p>
      </div>

      <div class="prix-musicalite">
        <h3>Prix de la musicalité</h3>

        <h4>Rubaiyat</h4>

        <p>Une voix m’a parlé à l’aube ce matin
          <br>Adressant un message aux frivoles humains :
          <br>Hâtez vous de vider votre coupe de vin
          <br>Ne l’abandonnez pas à la main du destin
        </p>

        <p>Va, ne te soucie pas du passage du temps
          <br>Ni des jours d’autrefois, ce n’est plus le moment,
          <br>Profite des douceurs que t’offre le présent
          <br>Car la nuit, tu le sais, est cruelle souvent
        </p>

        <p>Qu’importe l’avenir, aujourd’hui m’appartient
          <br>Ils ne sont pas toujours riants les lendemains
          <br>Quand passe une beauté serais-je assez crétin
          <br>Pour ne pas la cueillir de l’œil ou de la main ?
        </p>

        <p>A aimer la beauté mon cœur s’est consumé
          <br>J’ai tant à exprimer que je ne sais comment.
          <br>O Dieu, es-tu heureux de me voir assoiffé
          <br>Alors qu’autour de moi ruissellent des torrents ?
        </p>

        <p>Mieux vaudrait que ce cœur se mette à palpiter
          <br>En se brûlant à la fournaise de l’amour
          <br>Il est vain, je le dis, de vivre une journée
          <br>Sans aimer, voila donc mon projet pour toujours
        </p>

        <p><i>Traduction de Guy Rocheblave</i></p>
        <p style="color:white;">Du texte pour aligner les 3 textes ensembles, mais invisible invisible
        </p>
      </div>

    </div>

    <div class="palmares-audace padded-2">
      <h3>Prix de l'audace</h3>
      <p>Cette année, le prix de l'audace a été décerné ex-aequo à deux participants :</p>
    </div>

    <div class="palmares-text">

      <div class="prix-audace">
        <h4>Pommard Khalsoum</h4>

        <p>J’entends crier au fond du cellier
          <br>C’est l’appel des dames-jeannes à nous ébrouer
          <br>À vos coupes, versez l’eau-de-vie,
          <br>Ou du calice vous n’aurez que la lie
        </p>

        <p>Pour hier ne vous faites pas de mouron
          <br>Et sans doute demain n’y aura-t-il plus de Morgon
          <br>Goûtez les plaisirs dès à présent,
          <br>Car les nuits ne sont pas du genre clément
        </p>

        <p>Aux lendemains ignorés, préférez la veille éprouvée,
          <br>À penser au jour d’après, vous ne serez qu’insatisfaits
          <br>Ne soyons pas de ces sots qui passent devant le fût sans le voir,
          <br>De ceux qui passent devant le cru sans le boire
        </p>

        <p>À chérir le beau nos cœurs se sont fatigués
          <br>À l’inavouable nos poitrines se sont essoufflées
          <br>Mais Seigneur, cette soif est-elle bien tolérable
          <br>Quand tant de grands vins coulent à cette table ?
        </p>

        <p>Laissons donc nos cœurs battre,
          <br>Que dans l’ardeur des passions ils folâtrent
          <br>Du temps, ne perdons pas ce laps,
          <br>Ensemble buvons, sifflons ce schnaps !
        </p>

        <p><i>Traduction de Simon Corthay</i></p>
        <p style="color:white;">Du texte pour aligner les 3 textes ensembles, mais invisible invisible
        </p>

      </div>

      <div class="prix-audace">
        <h4>O KLM</h4>

        <p>Fin d’défonce dans la nuit, l’temps qui passe me chuchote
          <br>J’entends cette toute petite voix me dire : khey, khey, khey
          <br>Lève toi, mets du biff dans tes ches-po, frais, frais, frais
          <br>‘Tends pas d’killer ta vie, la main d’sheitan t’sirote
        </p>

        <p>Emmerd’le temps qui passe, ouais, nananananèr
          <br>Le passé dans ta race, pour cte’bitch y’a pas l’temps
          <br>Vas-y fap, le kiff, le biff, la mif et maint’nant
          <br>Car la nuit tu ramasses, va pleurez chez ta mère
        </p>

        <p>Le destin bien profond, aujourd’hui le million
          <br>Igo t’attends qu’on t’sauve, tu t’fais toujours défonce
          <br>La guapa sheitana, j’suis pas loco, t’es fonce
          <br>Pour n’pas la prendre chico dans mon coeur et dans son...
        </p>

        <p>J’ai l’corazon cramé, j’ai trop cracké beauté
          <br>J’ai trop d’trucs à rapper, ‘tain, j’sais même pas comment
          <br>Toi l’Très-Haut, tu t’fais plaiz, à m’voir fonsdalle tellement
          <br>Alors qu’le flow flush fresh, téma autour d’mon teh
        </p>

        <p>Y a intérêt, pour c’coeur de ice, d’s’mettr’à frapper
          <br>Dans l’four du love d’être to-to-totalement pété
          <br>Et wallah, prefère dailler que de s’faire un day
          <br>Sans s’enjailler s’toquer; vaut mieux toujours aimer
        </p>

        <p><i>Traduction de Gwenda Frocrain</i></p>
        <p style="color:white;">Du texte pour aligner les 3 textes ensembles, mais invisible invisible
        </p>
      </div>

    </div>

  </div>
</div>
