<div class="container">
  <div class="row">
    <div class="welcome text-center padded">
      <h1>Édition 2015</h1>
      <p>En 2015, L’Union des Traducteurs et Non-Traducteurs de Villié-Morgon première édition du grand concours de traduction.</p>
      <p>Puisqu'il s’agissait notamment de rendre hommage à l'Ingénieur Liberté, cet infatigable arpenteur de l’Esprit, toujours en quête de sa Demeure, le texte à traduire pour cette première réédition fut la Ballade von den Abenteurern de Bertolt Brecht.</p>

<div>Ballade von den Abenteurern

(Bertolt Brecht)
Von Sonne krank und ganz von Regen zerfressen
Geraubten Lorbeer im zerrauften Haar
Hat er seine ganze Jugend, nur nicht ihre Träume vergessen
Lange das Dach, nie den Himmel, der drüber war.
O ihr, die ihr aus Himmel und Hölle vertrieben
Ihr Mörder, denen viel Leides geschah
Warum seid ihr nicht im Schoß eurer Mütter geblieben
Wo es stille war und man schlief und man war da?
Er aber sucht noch in absinthenen Meeren
Wenn ihn schon seine Mutter vergißt
Grinsend und fluchend und zuweilen nicht ohne Zähren
Immer das Land, wo es besser zu leben ist.
Schlendernd durch Höllen und gepeitscht durch Paradiese
Still und grinsend, vergehenden Gesichts
Träumt er gelegentlich von einer kleinen Wiese
Mit blauem Himmel drüber und sonst nichts.</div>

<h1>PALMARÈS 2015</h1>
<p>La Ballade des Aventuriers

Écœuré de soleil et tout rongé d’averses
Le front hirsute ceint de laurier arraché
Il ne retient rien de sa jeunesse, sauf les rêves qu’elle lui laisse
L’abri aussi est oublié, jamais le ciel qui l’embrassait.
Ô vous qu’on a chassés du Ciel et de l’Enfer
Vous les assassins qui en avez vu de Vertes
Pourquoi vous n’êtes pas restés dans le sein de vos mères ?
On dormait, on avait la paix, il suffisait d’y être.
Mais tandis que sa mère l’a déjà oublié
Lui, il regarde encor au fond des mers d’absinthe
Ricanant, pestant, poussant parfois même d’amères complaintes
Toujours en quête du pays où le malheur est mieux payé.
Paisible, ricanant, les traits déliquescents
Traversant en flâneur les vallées infernales,
traîné à coups de fouet dans tous les paradis
Il rêve à l’occasion d’un petit pré fleuri
Et sinon rien, hormis un ciel bleu l’embrassant.
Traduction d’Alexandre Pateau</p>



    </div>
  </div>
</div>
