<div class="banner">
  <%= image_tag "nautes.jpg", id: "", class: ""%>
</div>
<!--
<div class="banner">
  <div class="banner-content">
    <h1>Grand Concours de Traduction</h1>
    <h2> Deuxième tournée !</h2>

  </div>
</div>
-->

<% link_to "#top" do %>
            <div class="circle-link text-center">
              <span class="arrow-to-top"></span>
              <span><p></p></span>
            </div>
          <% end %>

<div class="container-general" >
  <div class="row">
    <div class="welcome text-center padded">
      <h1><strong>Un grand concours de traduction</strong></h1>
    </div>
  </div>
</div>

<div class="container-general" id="top">
  <div class="row">
    <div class="welcome text-center padded">
      <!-- <h2><i class="fa fa-book"></i></h2> -->
      <!-- <h2>Pour la petite histoire...</h2> -->
      <!-- <br> -->
      <p>Aux environs des années 80, quelque part entre la montagne Sainte-Geneviève, les vallons de Weimar et les collines du Beaujolais, dérivait joyeusement l'<strong>Ingénieur Liberté</strong>. Alain Braïk dans le civil, cet architecte hégélien et zélé lanceur de pavés organisait de temps à autre des concours de traduction bien dotés en bouteilles.</p>
      <p>Un soir d'hiver 2014, la très spontanée <strong>Union des Traducteurs et Non-Traducteurs de Villié-Morgon</strong> se proposa de redonner vie à ce principe si simple et si épatant. Depuis, l'UTNTVM organise chaque année un <strong>Grand concours de Traduction</strong>. Les prix sont remis lors du Gala Oeno-poétique, une fête agri-culturelle où vigneronnes, traducteurs, musiciennes et audacieux se retrouvent autour de bons textes et de bons vins – sorte d’hommage à un personnage fulgurant.</p>
      <p>L’Ingénieur Liberté, ainsi rappelé de sa bacchique retraite, a retrouvé le goût du voyage. Après avoir un temps fourgonné dans l'Allemagne de Brecht, après avoir arpenté les plaines américaines, il s’est tourné vers l’Orient.</p>
<!--       <%= link_to 'voir le palmares', '/cuvee2016' , class:"btn-participe btn btn-success btn-lg" %>
      <h4>Root Hog or Die !</h4> -->
      <br>
    </div>
  </div>
</div>

<div class="padded-bottom">
  <div class="container-general" >
    <div class="row">

    </div>
  </div>
</div>


<div class="container-grey padded-bottom">
  <div class="container-general" >
    <div class="row">
      <div class="welcome text-center padded">

        <%= link_to "Je m'abonne à la newsletter", "http://eepurl.com/bpVXxT", class:"btn-participe btn btn-success btn-lg", target: "_blank" %>

      </div>
    </div>
  </div>



