<div class="banner">
  <%= image_tag "oum_banner01.jpg", id: "", class: ""%>
</div> 

<!-- <div class="banner">
  <div class="banner-content">
    <h1>Grand Concours de Traduction</h1>
    <h2> Deuxième tournée !</h2>

  </div>
</div> -->

<% link_to "#top" do %>
  <div class="circle-link text-center">
    <span class="arrow-to-top"></span>
    <span><p></p></span>
  </div>
<% end %>

<!-- <div class="container-general" >
  <div class="row">
    <div class="welcome text-center padded">
      <h1><strong>Grand concours de traduction</strong></h1>
    </div>
  </div>
</div> -->
<div class="container container-general" id="top">
  <div class="row">
    <div class="welcome text-center text-left padded">

<p>
        Émergeant tardivement des brumes délicieuses du gala, <strong>l'Union des Traducteurs et Non Traducteurs de Villié-Morgon</strong> a enfin retrouvé, dans une forêt de bouteilles vides, quelque peu tachés de vin rouge, les trois textes primés. Vous les trouverez ici.
        Merci à tous d'être venus si nombreux, si joyeux. Merci à tous les candidats, aux jurés, aux vignerons et aux musiciens, tous vous nous avez régalés ! Et ceci ne restera pas sans suites !
      </p>
      <p>
        <strong>L'Ingénieur Liberté</strong>, quant à lui, suivant son rythme bien personnel, a fini par rejoindre Paris et vous salue poétiquement.
      </p>
      Vous pouvez retrouvez le palmarès <%= link_to 'ici', '/cuvee2017' %>

      <div class="text-center padded" >
        <h2 class ="text-annual-color "><strong>Grand Concours de traduction</strong></h2>
      </div>

      <p>Qu'est ce que c'est</p>

    </div>
  </div>
  
  <div class="row">
    <div class="welcome text-center centered padded">
      <h4>Chaque année, trois prix sont à gagner :</h4>
      <p>
        Prix de l'<strong>Ingénieur </strong>(anciennement Grand prix)
        <br>Prix de la <strong>musicalité</strong>
        <br>Prix de l'<strong>audace</strong>
      </p> 
      <p>Chaque prix est doté de <strong>1 Jéroboam & 3 Magnums de Morgon Lapierre</strong></p>
    </div>
  </div> 
</div>


<div class="container-grey padded-bottom pre-footer">
  <div class="container-general" >
    <div class="row">
      <div class="welcome text-center padded">

        <p>Pour recevoir un petit rappel quelques jours avant l'évènement (et juste un seul)</p>
        <%= link_to "Je m'abonne à la newsletter", "http://eepurl.com/bpVXxT", class:"btn-participe btn btn-success btn-lg", target: "_blank" %>

      </div>
    </div>
  </div>
</div>



