<div class="container">
  <div class="row">
    <div class="welcome text-center padded">
      <h1>Grand Concours de Traduction – Deuxième tournée !</h1>
      <h2>Participez avant le 20 mai 2016.</h2>


      <p>La <strong>remise des prix</strong> du premier concours de traduction organisé en hommage à l'Ingénieur Liberté eut lieu le <strong>31 août 2015</strong> en la taverne de la <strong>Pointe du Groin</strong>. Sur des airs de Brecht et d’autres aventuriers, on y but à la santé des lauréats, des audacieuses, des musiciens. Ragaillardi par cette fameuse bringue, l’Ingénieur Liberté n’a pas chômé depuis l’été. Voilà des mois qu’il chevauche à travers les grandes plaines de l’Ouest américain en quête de pépites, de mythes et de coyotes. Certains l’auraient même vu brièvement sur le dos d’un taureau.
        Il s’amuse, donc, mais le vin, la poésie et la vertu commencent à lui manquer. En prévision de son retour, le 29 mai prochain, l’<strong>Union des Traducteurs et Non-Traducteurs de Villié-Morgon</strong> organise un <strong>second grand concours de traduction ouvert à tous</strong>.</p>

        <h3>Traduisez la chanson <%= link_to "A Philosophical Cowboy", "#" %> et gagnez beaucoup de vin</h3>

        <h3>Grand Prix : 1 Jéroboam & 3 Magnums de Morgon Lapierre</h3>
        <h3>Prix de la musicalité : 1 Jéroboam & 3 Magnums de Morgon Lapierre 2015</h3>
        <h3>Prix du rodéo (anciennement prix de l'audace) : 1 Jéroboam & 3 Magnums de Morgon Lapierre 2015</h3>
      </div>
    </div>
  </div>






