<div class="banner">
  <%= image_tag "nautes.jpg", id: "", class: ""%>
</div>
<!--
<div class="banner">
  <div class="banner-content">
    <h1>Grand Concours de Traduction</h1>
    <h2> Deuxième tournée !</h2>

  </div>
</div>
-->

<div class="container-general" >
  <div class="row">
    <div class="welcome text-center padded">
      <h1><strong>Grand Concours de Traduction</strong><br>Nous sommes tous des Œno-Nautes !</h1>
    </div>
  </div>
</div>

<div class="container-general" >
  <div class="row">
    <div class="welcome text-center padded">
      <!-- <h2><i class="fa fa-book"></i></h2> -->
      <!-- <h2>Pour la petite histoire...</h2> -->
      <!-- <br> -->
      <p>
        Émergeant tardivement des brumes délicieuses du gala, <strong>l'Union des Traducteurs et Non Traducteurs de Villié-Morgon</strong> a enfin retrouvé, dans une forêt de bouteilles vides, quelque peu tachés de vin rouge, les trois textes primés. Vous les trouverez ici.
        Merci à tous d'être venus si nombreux, si joyeux. Merci à tous les candidats, aux jurés, aux vignerons et aux musiciens, tous vous nous avez régalés ! Et ceci ne restera pas sans suites !
      </p>
      <p>
        <strong>L'Ingénieur Liberté</strong>, quant à lui, suivant son rythme bien personnel, a fini par rejoindre Paris et vous salue poétiquement.
      </p>
      <%= link_to 'voir le palmares', '/cuvee2016' , class:"btn-participe btn btn-success btn-lg" %>
      <h4>Root Hog or Die !</h4>
      <br>
    </div>
  </div>
</div>

<div class="padded-bottom">
  <div class="container-general" >
    <div class="row">

    </div>
  </div>
</div>


<div class="container-grey padded-bottom">
  <div class="container-general" >
    <div class="row">
      <div class="welcome text-center padded">

        <%= link_to "Je m'abonne à la newsletter", "http://eepurl.com/bpVXxT", class:"btn-participe btn btn-success btn-lg", target: "_blank" %>

      </div>
    </div>
  </div>



