<div class="banner">
	<%= image_tag "gala_facebook.jpg", id: "", class: ""%>
</div> 

<!-- <div class="banner">
	<div class="banner-content">
		<h1>Grand Concours de Traduction</h1>
		<h2> Deuxième tournée !</h2>

	</div>
</div> -->

<% link_to "#top" do %>
	<div class="circle-link text-center">
		<span class="arrow-to-top"></span>
		<span><p></p></span>
	</div>
<% end %>

<!-- <div class="container-general" >
	<div class="row">
		<div class="welcome text-center padded-2">
			<h1><strong>Grand concours de traduction</strong></h1>
		</div>
	</div>
</div> -->

<div class="container container-general">
  <div class="row padded-3">

      <div class="text-center">
        <h2 class="text-annual-color" >Remise des prix du Grand Concours de Traduction 
        <br>le 11 juin à 17h à La Colonie</h2>
        <p>128 rue Lafayette, Paris Xe</p>
      </div> 

      <div>
        <p>Jamais, de toute sa vagabonde existence, l'Ingénieur Liberté ne s'était senti si fébrile. Il ronge son frein, affûte son tire-bouchon, piaffant d'impatience d'entendre lire les traductions primées : car il sait d'ores et déjà qu'avec Khayyam, Kalsoum et Rami, il s'agira de remplir à nouveau le verre du désir. Alors, en prévision, il a invité pour le 11 juin quelques fournisseurs de vin, de poésie et de vertu, et entend bien prodiguer ce jour-là à chacun la dose d'ivresse dévolue.</p>  
        <br>
      </div>

      <div class="text-center padded-1">
        <i class="fa fa-star"  style="font-size:6px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:8px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:10px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:14px;" aria-hidden="true"></i>
        <i class="fa fa-heart" style="font-size:18px;" aria-hidden="true"></i>
        <i class="fa fa-bolt" style="font-size:22px;" aria-hidden="true"></i>
        <i class="fa fa-music" style="font-size:22px;" aria-hidden="true"></i>
        <i class="fa fa-glass" style="font-size:26px;" aria-hidden="true"></i>
        <i class="fa fa-music" style="font-size:22px;" aria-hidden="true"></i>
        <i class="fa fa-bolt" style="font-size:22px;" aria-hidden="true"></i>
        <i class="fa fa-heart" style="font-size:18px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:14px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:10px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:8px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:6px;" aria-hidden="true"></i>
      </div>

      <div>
        <h3 class="text-center">Programme des réjouissances</h3>
        <p>16h30 : Arrivée en trombe de l'Ingénieur Liberté<br>
        <br>17h : Mise en condition<br>
        Wassim Halal & The Harams avec Mohammed Abozekry (oud), Abdallah Abozekry (saz) et Ignacio Naon (guitare)<br>
        Accompagnés aux grands crus par Mathieu Lapierre (Morgon) & Mylène Bru (Karm)<br>
        <br>18h : Remise des Prix<br>
        Cette année le jury est composé de Nathalie Bontemps, Kadhim Jihad Hassan, Hana Jaber et Richard Jacquemond.<br>
        <br>Et comme chaque année, trois prix seront remis :<br>
        - Prix de l'Ingénieur (anciennement Grand prix)<br>
        - Prix de la musicalité<br>
        - Prix de l'audace<br>
        Chaque prix est doté de 1 Jéroboam & 3 Magnums de Morgon Lapierre<br>
        Et cette année, Mylène Bru gonfle la mise et offre à chaque lauréat 1 magnum de sa cuvée Karm&nbsp;!</p>
        <p>Ce gala a lieu dans le cadre du <%= link_to "Printemps de la traduction", "http://www.atlas-citl.org/printemps-de-la-traduction-2017/", target: "_blank" %>.
        </p>
        <br>
      </div>

      <div class="text-center padded-1">
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:6px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:10px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:16px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:22px;" aria-hidden="true"></i>
        <i class="fa fa-flag-o" style="font-size:26px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:22px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:16px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:10px;" aria-hidden="true"></i>
        <i class="fa fa-star"  style="font-size:6px;" aria-hidden="true"></i>
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
      </div>

      <div class="text-center">
        <h3>Rdv à La Colonie, 128 rue Lafayette, Paris Xe</h3>
        <p>Le 11 juin à 17h. L'entrée est libre, bien entendu.</p>
        <div class="gg-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.9560655936707!2d2.351057915675091!3d48.878114079289446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e6c8d5ada93%3A0xdba5ad3bc09f327f!2s128+Rue+la+Fayette%2C+75010+Paris!5e0!3m2!1sfr!2sfr!4v1496238103967" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>   
        </div>
      </div>

  </div>
</div>


<div class="background-annual-color white-text padded-2">
  <div class="container container-general">
    <div class="row">
      <div class="welcome text-center text-left">

        <div class="text-center centered">
          <h3>Mais qu'est-ce que c'est que ce Grand Concours ?</h3>
          <br>
        </div> 

        <p>Depuis trois ans, l'Ingénieur Liberté organise un Grand Concours de Traduction avec l'irremplaçable soutien opérationnel de l'Union des Traducteurs et Non Traducteurs de Villié-Morgon. Remontant une longue rue du Caire cet hiver, il s'est souvenu de la voix d'une femme qui avait marqué sa jeunesse. Cette femme s'appelait Oum. Oum Kalsoum.</p>

        <p>Elle chantait des airs parlant d'amour, de vin et de poésie. Il y en a un en particulier, hédoniste et mystique, vieux de mille ans, qui avait retenu son attention de garnement : c'était l'oeuvre de l'astronome persan Omar Khayyam.</p>

        <p>Pas mal se sont frottés à ces <em>Quatrains</em>, ici et là, jadis et naguère. Ahmed Rami, notamment, en a tiré un poème arabe dont Oum Kalsoum a fait une chanson de légende. Ces strophes ont ainsi parcouru les siècles et les langues, et ne sont pas près de s'arrêter : le 11 juin, l'Ingénieur Liberté offrira d'exquis nectars à ceux qui les auront traduites avec brio, audace ou musicalité.</p>

        <p>Le texte à traduire cette année était les <strong>Roubayat el Khayyam</strong> de Ahmed Rami<br>
        Que vous pouvez lire ===>
          <%= link_to "ici", "assets/robaiyat_al_khayam.pdf", target: :blank, class:"white-text"%>
        <br>
        <br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-grey pre-footer">
	<div class="container-general">
		<div class="row">
			<div class="text-center">
				<p>Pour recevoir un petit rappel quelques jours avant l'évènement (et juste un seul)</p>
				<%= link_to "Je m'abonne à la newsletter", "http://eepurl.com/bpVXxT", class:"btn btn-success  btn-newsletter ", target: "_blank" %>
			</div>
		</div>
	</div>



