<div class="banner">
  <%= image_tag "oum_banner01.jpg", id: "", class: ""%>
</div> 

<!-- <div class="banner">
  <div class="banner-content">
    <h1>Grand Concours de Traduction</h1>
    <h2> Deuxième tournée !</h2>

  </div>
</div> -->

<% link_to "#top" do %>
  <div class="circle-link text-center">
    <span class="arrow-to-top"></span>
    <span><p></p></span>
  </div>
<% end %>

<!-- <div class="container-general" >
  <div class="row">
    <div class="welcome text-center padded">
      <h1><strong>Grand concours de traduction</strong></h1>
    </div>
  </div>
</div> -->

<div class="container container-general" id="top">
  <div class="row">
    <div class="welcome text-center text-left padded">
      <div class="text-center padded" >
        <h2 class ="text-annual-color "><strong>! ترجمْ أم كلثوم واكسب شرابا</strong></h2>
      </div>

      <p>Remontant une longue rue du Caire cet hiver, l'Ingénieur Liberté, saint patron de notre grand concours, s'est souvenu de la voix d'une femme qui avait marqué sa jeunesse. Cette femme s'appelait Oum. Oum Kalsoum.</p>

      <p>Elle chantait des airs parlant d'amour, de vin et de poésie. Il y en a un en particulier, hédoniste et mystique, vieux de mille ans, qui avait retenu son attention de garnement : c'était l'oeuvre de l'astronome persan Omar Khayyam.</p>

      <p>Pas mal se sont frottés à ces <em>Quatrains</em>, ici et là, jadis et naguère. Ahmed Rami, notamment, en a tiré un poème arabe dont Oum Kalsoum a fait une chanson de légende. Ces strophes ont ainsi parcouru les siècles et les langues, et ne sont pas près de s'arrêter : le 11 juin, l'Ingénieur Liberté offrira d'exquis nectars à ceux qui les auront traduites avec brio, audace ou musicalité.</p>

    </div>
  </div>
  <div class="row" id="roubayat">
    <div class="text-annual-color text-center centered padded">
      <h3>Traduisez en français les <strong>Roubayat el Khayyam</strong> de Ahmed Rami
      avant le 31 mai <br>& Gagnez beaucoup de vin !</h3>
      <br>
      <h3>Remise des prix le <strong>11 juin</strong> à 17h
      <br>Rdv à La Colonie, 128 rue Lafayette, Paris Xe</h3>
    </div>

    <div class="text-center centered padded">
      <h4>Voici le texte à traduire :</h4>
    </div>
    <div class="text-center bordered-green arabic-text">
      <p class="arabic-text-title">رباعيات الخيام</p>
      <p>
        <br>
        سمعتُ صوتا هاتفا في السحر<br>
        نادى من الغيب غُفاةَ البشر<br>
        هُبّوا املأوا كأس المنى قبل أن<br>
        تملأ كأسَ العمر كفُّ القدر<br>
        <br>
        لا تشغل البال بماضي الزمان<br>
        ولا بآتي العيش قبل الأوان<br>
        واغنمْ من الحاضر لذاتِه<br>
        فليس في طبع الليالي الأمان<br>
        <br>
        غدٌ بظَهْر الغيب واليوم لي<br>
        وكم يخيب الظن في المقبِلِ<br>
        ولستُ بالغافل حتى أرى<br>
        جمال دنياي ولا أجتلى<br>
        <br>
        القلبُ قد أضناه عشقُ الجمال<br>
        والصدر قد ضاق بما لا يقال<br>
        ياربّ هل يُرضيك هذا الظما<br>
        والماء ينساب أمامي زُلال<br>
        <br>
        أَوْلى بهذا القلب أن يخفق<br>
        وفي ضِرام الحب أن يُحرَق<br>
        ما أضيَع اليوم الذى مرّ بي<br>
        من غير أن أهوى وأن أعشق<br>
        <br>
      </p>
      <p class="arabic-text-credit">(Traduit du persan par Ahmed Mohammed Rami et chanté par Oum Kalsoum)</p>
    </div>    
  </div>

  <div class="text-center centered padded">
    <h4>Vous pouvez aussi télécharger le texte ici : 
    <% link_to "assets/robaiyat_al_khayam.pdf", target: :blank do %>
    <i class="fa fa-download" aria-hidden="true"></i>
    <% end %>
    </h4>
    <h4>et écouter la chanson interprétée par Oum Kalsoum ici : 
    <% link_to " https://www.youtube.com/watch?v=CM0cuz7Qt8g", target: :blank do %>
    <i class="fa fa-youtube" aria-hidden="true"></i>
    <% end %>
    </h4>
  </div>
  
  <div class="row">
    <div class="welcome text-center centered padded">
      <h2>PARTICIPEZ AVANT LE 31 MAI 2017</h2>

      <h4>en envoyant votre texte à : <%= mail_to 'contact@ingenieurliberte.com' %></h4s>
    </div>
  </div> 
  <div class="row">
    <div class="welcome text-center centered padded">
      <h4>Comme chaque année, trois prix sont à gagner :</h4>
      <p>
        Prix de l'<strong>Ingénieur </strong>(anciennement Grand prix)
        <br>Prix de la <strong>musicalité</strong>
        <br>Prix de l'<strong>audace</strong>
      </p> 
      <p>Chaque prix est doté de <strong>1 Jéroboam & 3 Magnums de Morgon Lapierre</strong></p>
      <p>Mais cette année, gagnez encore plus de vin, car <strong>Mylène Bru</strong> 
      gonfle la mise et offre à chaque lauréat <strong>1 magnum de sa cuvée Karm !</strong></p>
    </div>
  </div> 
  <div class="row">
    <div class="welcome text-center centered padded">

      <p class ="text-annual-color"><strong>À vos plumes, et une fois de plus, remplissons le verre du désir !</strong></p>
    </div>
  </div>
</div>


<div class="container-grey padded-bottom pre-footer">
  <div class="container-general" >
    <div class="row">
      <div class="welcome text-center padded">

        <p>Pour recevoir un petit rappel quelques jours avant l'évènement (et juste un seul)</p>
        <%= link_to "Je m'abonne à la newsletter", "http://eepurl.com/bpVXxT", class:"btn-participe btn btn-success btn-lg", target: "_blank" %>

      </div>
    </div>
  </div>



