---
title: L'Ingénieur Liberté
---

<div class="banner banner-top">
    <%= image_tag "ab_bouteille.jpg", id: "", class: ""%>
  </div> 

<div class="container">
  <div class="row">
    <div class="welcome text-center text-left padded">
      <p>Aux environs des années 80, quelque part entre la montagne Sainte-Geneviève, les vallons de Weimar et les collines du Beaujolais, dérivait joyeusement l'Ingénieur Liberté.</p>
      <p>Alain Braïk pour l'état-civil, l'Ingénieur Liberté fut architecte, hégélien, lanceur de pavés, grand buveur, éditeur et blogueur avant l'heure. Le concours de traduction doté en bonnes bouteilles est l'une de ses inventions. Il y avait dans l'énergie follement dissipée de ce flamboyant bon à rien, une forme d'inconstance et d'indiscipline très précieuses en des temps où seuls les forts, les battants et les gagnants semblent avoir le droit d'exister. Là où ses compagnons de beuverie et de pensée furent de grands productifs, Alain Braik avait un rapport à l'existence moins volontaire, plus fragile - plus subversif, au fond.</p>
      <p>Ses écrits en témoignent gaiement, et montrent les grandes étapes de la vie d'un homme qui exerçait en dilettante, mais non sans passion, le métier d'exister.</p>
      <p>Vous trouverez une sélection de ces textes ici :
        <% link_to "/assets/une_biographie_lancepierre.pdf", target: :blank do %>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="banner-container padded">
  <div class="banner">
    <%= image_tag "ab_lp.jpg", id: "", class: ""%>
  </div> 
  <p class="banner-legend text-center">Alain Braik en 1973 à Pouilly-sous-Charlieu.</p>
</div>

<div class="container">
  <div class="row">
    <div class="welcome text-center text-left padded">
      <h3 class="text-center">Autobiographie au lance-pierre</h3>
      <h4 class="text-center">par Alain Braik</h4>
      <p class="text-center">(L'ingénieur Liberté)</p>
      <div class="indented">
        <p>Alain Braik né le 8 avril 1940 à Taguemount El Djedid (Haute-Kabylie) de père Kabyle et de mère à moitié française, à moitié italienne (née à Vérone).</p>
        <p>Arrivé en France en 1945, il est aussitôt mis en «&nbsp;maison d'enfants&nbsp;» pour «&nbsp;inadaptation urbaine&nbsp;». Retour à Alger en 1949 (divorce des parents)&nbsp;; participe avec les gamins de son quartier aux premiers remous de la Révolution algérienne.</p>
        <p>1955 : retour définitif en France - lycée de Tournon, Pontoise et Mantes-la-Jolie.</p>
        <p>Renvoyé de tous les lycées pour indiscipline.</p>
        <p>Travaille en 1957-59 au BHV, prépare ses Bacs et les réussit.</p>
        <p>Septembre 1959 : réussite au Concours d'entrée à la classe préparatoire à l'«&nbsp;Institut des Hautes Études Cinématographiques&nbsp;». Découvre Saint-Germain-des-Prés, ses bistrots et l'avant-garde parisienne.</p>
        <p>1961 : insoumission&nbsp;; fuite vers l'URSS (Moscou). Arrêté à Frankfurt-am-Main par la «&nbsp;main rouge&nbsp;»&nbsp;; y échappe par miracle. Interné dès son arrivée à Berlin-Est. Rapidement relâché (3 jours), il est invité à faire les études de son choix et a le statut de réfugier politique. Étudie l'allemand à Leipzig puis l'architecture à Weimar (1961-1966).</p>
        <p>1966 : retour à Paris : les cafés de Saint-Germain (ou ce qu'il en reste).</p>
        <p>Mai 68 : participe en première ligne aux combats de rue (est à l'origine du déclenchement la Bataille du 10 au 11 main 68, dite «&nbsp;Nuit de la rue Gay-Lussac&nbsp;»). Diverses activités dont création et collages d'affiches.</p>
        <p>Mai 1970 : trois mois de prison pour «&nbsp;violences à agents&nbsp;» (Fresnes et Rouen).</p>
      </div>
      <p>
        Oeuvres : <br>
        - <em>Lettres de prison</em><br>
        et <br>
        - <em>Témoignage sur les conditions de la détention</em><br>
      </p>
      <div class="indented">
        <p>À la sortie de prison décide de faire fortune, tout en s'inscrivant à l'École nationale supérieure des Beaux-Arts (UP 6) pour passer son équivalence.</p>
        <p>Réussit à créer deux SARL en Allemagne de l'Ouest cette fois et à acheter un atelier d'artiste à Paris.</p>
        <p>1973 : diplôme de fin d'études scandaleux aux Beaux-Arts :</p>
      </div>
      <p class="text-center">
        «&nbsp;L'Appropriation de l'espace <br>
        et <br>
        le Détournement de l'Architecture <br>
        en période insurrectionnelle&nbsp;»<br>
      </p>
      <div class="indented">
        <p>Malgré cela : proposé à l'édition par l'unanimité du jury (Claude Roy, Michel Ragon, etc.). Est donc architecte DPLG (J.O. du 23 février 1975).</p>
        <p>À partir de 1976 : sombre dans l'alcoolisme. Est assassiné à Pigalle en février 1977. Amené mort à l'hôpital Saint-Louis le coeur arrêté, ce dernier est remis en marche par de diligents médecins.</p>
        <p>Arrête de boire avec l'aide des Alcooliques Anonymes.</p>
        <p>1978 : se rend à Copenhague chez son frère et commence son étude de Hegel à la Bibliothèque Royale de Copenhague.</p>
        <p>1979 : retour à Paris et poursuite de la lecture intensive de Hegel et d'autres philosophes (Aristote, Proclos, Spinoza, Fichte, …).</p>
        <p>1981 : Création d'«&nbsp;Eleutheriologie&nbsp;».</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center centered archive-link">
  <h4>Vous pouvez lire une sélection des écrits d'Alain Braik ici : 
  <% link_to "assets/une_biographie_lancepierre.pdf", target: :blank do %>
  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
  <% end %>
  </h4>
</div>



<!-- 
<%= link_to 'Lire une sélection des écrits d\'Alain Braik', 'assets/une_biographie_lancepierre.pdf', class:"btn btn-success btn-lg", target: :blank %>

 -->