<div class="container">
  <div class="row">
    <div class="welcome text-center padded">
      <h1>Gagnez beaucoup de vin d'une manière belle, traduisez !</h1>
      <p>C'est un chant sans auteur, aussi vagabond qu'un trimardeur, qu'on fredonnera ce printemps. Il a le goût de l'Amérique épique toujours perdue jamais trouvée, cet aigre-doux que connaît bien l'Ingénieur Liberté. Root hog, or die !</p>
      <p>Le concours est ouvert à tous. Envoyez seulement votre traduction à <%= link_to "l'Ingénieur Liberté", "#" %> avant le 20 mai 2016.</p>

      <p>
        A Philosophical Cowboy
        On the Double Circle Range where the grass grows green
        The cattle get wild and the broncs get mean
        And the calves get bigger as the days go by,
        So we got to keep a-rimming, boys, it's root hog or die.

        In the morning after breakfast about daylight;
        Throw your saddle on a horse and pull your cinches tight
        Your bronc may jump crooked or he may jump high
        But we all got to ride them, boys, it's root hog or die.

        Oh, the hills are rough and rocky but we got to make the drive
        When you start a bunch of cattle you better come alive
        If you ever get a maverick you must get him on the fly
        So you better take to them, boys, it's root hog or die.

        When the long day is over you'll be glad to see the chief
        With a pot of black coffee and another full of beef
        And some sour dough biscuits to take the place of pie
        When he hollers, "Come and git it," it's root hog or die.

        In the middle of the night it is sometimes awful hard
        To leave your warm blankets when you're called on guard
        And you pass the weary moments while the stars are in the sky
        Humming to the cattle, boys, it's root hog or die.

        Sometimes it's dreadful stormy and sometimes it's pretty clear
        You may work a month and you might work a year
        But you can make a winning if you'll come alive and try
        For the whole world over, boys, it's root hog or die.</p>

        <p>(texte tiré de Cowboy and Western Songs, Fine & Fine, tous droits réservés)</p>
      </div>
    </div>
  </div>
