---
title: L'UTNTVM
---

<div>
  <h1 class="text-center text-annual-color">L'Union des Traducteurs et Non Traducteurs de Villié-Morgon</h1>
</div>

<div class="container text-center">
  <p>bla bla bla</p>
  <p>voilà comment on en est venu là</p>
  <p>bla bla bla</p>
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12">
          <div class="profil col-xs-12 col-sm-6 col-md-4" data-sr="enter left, move 30px, over 1s">
          <div class="profil-pic">
            <%= image_tag "arthur.jpg", height: "100", class: "img-circle" %>
          </div>
          <p>
            <span>Arthur</span>
            <br>Translator
            <br>Badass cow-boy
            <br>1er gaou champion
          </p>
          <!-- <div>
            <ul class="list-inline social-link">
              <li><a href="https://www.facebook.com/wendy.frc"><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div> -->
        </div>
        <div class="profil col-xs-12 col-sm-6 col-md-4" data-sr="enter left, move 30px, over 1s">
          <div class="profil-pic">
            <%= image_tag "gwenda_carre.jpg", height: "100", class: "img-circle" %>
          </div>
          <p>
            <span>Gwenda</span>
            <br>Programmer web
            <br>Student at 42
            <br>Celtic dance and whisky lover
          </p>
          <!-- <div>
            <ul class="list-inline social-link">
              <li><a href="https://www.facebook.com/wendy.frc"><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div> -->
        </div>
        <div class="profil col-xs-12 col-sm-6 col-md-4" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "anna.jpg", width: "100", class: "img-circle" %>
          <p>
            <span>Anna</span>
            <br>UX / UI designer & art director
            <br>Learning Ruby, HTML & CSS
            <br>Loves disco music in secret
            <br>
          </p>
          <!-- <div>
            <ul class="list-inline social-link">
              <li><a href="https://www.facebook.com/annamimouni"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/annamimouni"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div> -->
        </div>
          <div class="profil col-xs-12 col-sm-6 col-md-4" data-sr="enter right, move 30px, over 1s">
          <%= image_tag "mathieu.jpg", width: "100", class: "img-circle" %>
          <p>
            <span>Mathieu</span>
            <br>Wine maker
            <br>
            <br>
            <br>
          </p>
          <!-- <div>
            <ul class="list-inline social-link">
              <li><a href="https://www.facebook.com/annamimouni"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/annamimouni"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>